<div class="basic-input">
  @if (floatLabel()) {
    <p-floatlabel>
      <input
        [id]="labelType()"
        type="text"
        pInputText
        class="app-input"
        [class.app-input_disabled]="isDisabled()"
        [disabled]="isDisabled()"
        (input)="onInput($event)"
        (blur)="onBlur()"
        [value]="value()"
      />
      <label [for]="labelType()">{{ placeholder() }}</label>
    </p-floatlabel>
  } @else {
    <div class="app-input-wrap" [class.app-input-wrap--icon]="icon()">
      @if (icon()) {
        <span class="app-input-wrap__icon">
          <i [class]="icon()!"></i>
        </span>
      }
      <input
        [id]="labelType()"
        type="text"
        class="app-input app-input--plain"
        [class.app-input_disabled]="isDisabled()"
        [disabled]="isDisabled()"
        (input)="onInput($event)"
        (blur)="onBlur()"
        [value]="value()"
        [placeholder]="placeholder()"
      />
    </div>
  }
</div>
