@if (collapsed() && data().items) {
  <ul class="sublevel-nav"
      [class.sublevel-nav--expanded]="expanded()"
      [style.--sublevel-depth]="level()">
    @for (item of data().items; track $index) {
      <li class="sublevel-nav-item">
        @if (item.items && item.items.length > 0) {
          <a (click)="hundleClick(item)" [ngClass]="getActiveClass(item)" class="sublevel-nav-link">
            <i class="sublevel-link-icon fa fa-circle"></i>
            @if (collapsed()) {
              <span class="sublevel-link-text" animate.enter="nav-fade-enter" animate.leave="nav-fade-leave" translate>{{'SIDENAV_SUB.' + item.label}}</span>
            }
            @if (item.items && collapsed()) {
              <i class="menu-collapse-icon" [ngClass]="!item.expanded ? 'fal fa-angle-right':'fal fa-angle-down'"></i>
            }
          </a>
        }
        @if (!item.items || (item.items && item.items.length === 0)) {
          <a [routerLink]="[item.routerLink]"
             routerLinkActive="active-sublevel"
             [routerLinkActiveOptions]="{exact: true}"
             class="sublevel-nav-link">
                <i class="sublevel-link-icon fa fa-circle"></i>
                @if (collapsed()) {
                  <span class="sublevel-link-text" animate.enter="nav-fade-enter" animate.leave="nav-fade-leave" translate>{{'SIDENAV_SUB.' + item.label}}</span>
                }
            </a>
        }

        @if (item.items && item.items.length > 0) {
          <div>
            <app-sublevel-menu
              [data]="item"
              [collapsed]="collapsed()"
              [multiple]="multiple()"
              [expanded]="item.expanded"
              [level]="level() + 1"
            ></app-sublevel-menu>
          </div>
        }
      </li>
    }
  </ul>
}
