.login-wrapper {
  width: calc(100% - 5rem);
  margin-top: 92px;
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transform: all .5s ease;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
}

.login-container {
  width: 30rem;
  border: 0.1em solid rgba(7, 14, 39, 0.4);
  border-radius: 0.3rem;
  padding: 2em;

  h2, h3 {
    text-align: center;
    color: #070e27;
  }

  &__title {
    margin-bottom: 2em;
  }

  .login-error {
    margin-bottom: 1.5rem;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.custom-password-size {
  margin-top: 0.6rem;
}


.button-style {
  background-color: #070e27;
}